@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/ad_product.css">
<div class="k main-form">
    <div class="k l-form">
        <div class="k bd-catagory">
            <span class="k t t-nt-tt-pr">Product Catagory</span>
            <div class="k ic-add-category"></div>
        </div>
        <div class="k bd-prd">
            <div class="k ic-pdt"></div>
            <span class="k t t-name-pr">Milk tea</span>
            <div class="k ic-next"></div>
        </div>
        <div class="k bd-prd">
            <div class="k ic-pdt"></div>
            <span class="k t t-name-pr">Tea</span>
            <div class="k ic-next"></div>
        </div>
        <div class="k bd-prd">
            <div class="k ic-pdt"></div>
            <span class="k t  t-name-pr">Yaourt</span>
            <div class="k ic-next"></div>
        </div>
    </div>
    <div class="k r-form">
        <div class="k ic-add-pdt"></div>
        <span class="k t t-add-pdt">Add Product</span>
        <div class="k item-pr-form">
            <div class="k img-pdt"></div>
            <div class="k f-pdt-name">
                <span class="k t name-product">Trà sữa trân châu đường đen</span>
                <span class="k t total-pdt">Total: 35</span>
            </div>
            <div class="k f-pdt-name">
                <span class="k t name-product">Saleprice: 20.000 Đ</span>
                <span class="k t total-pdt">Import price: 10.000 Đ</span>
                <span class="k t total-pdt">Manufacturing date: 12/01/2019</span>
                <span class="k t t-warning">Expiry date: 12/12/2019</span>
                <div class="k ic_delete_pdt"></div>
                <div class="k ic_edit_pdt"></div>
            </div>
        </div>
        <div class="k item-pr-form">
            <div class="k img-pdt"></div>
            <div class="k f-pdt-name">
                <span class="k t name-product">Trà sữa thạch trái cây</span>
                <span class="k t total-pdt">Total: 35</span>
            </div>
            <div class="k f-pdt-name">
                <span class="k t name-product">Saleprice: 20.000 Đ</span>
                <span class="k t total-pdt">Import price: 10.000 Đ</span>
                <span class="k t total-pdt">Manufacturing date: 12/01/2019</span>
                <span class="k t t-warning">Expiry date: 12/12/2019</span>
                <div class="k ic_delete_pdt"></div>
                <div class="k ic_edit_pdt"></div>
            </div>
        </div>
        <div class="k item-pr-form">
            <div class="k img-pdt"></div>
            <div class="k f-pdt-name">
                <span class="k t name-product">Trà sữa vị đào</span>
                <span class="k t total-pdt">Total: 35</span>
            </div>
            <div class="k f-pdt-name">
                <span class="k t name-product">Saleprice: 20.000 Đ</span>
                <span class="k t total-pdt">Import price: 10.000 Đ</span>
                <span class="k t total-pdt">Manufacturing date: 12/01/2019</span>
                <span class="k t t-warning">Expiry date: 12/12/2019</span>
                <div class="k ic_delete_pdt"></div>
                <div class="k ic_edit_pdt"></div>
            </div>
        </div>
    </div>
</div>
