
@{
    ViewData["Title"] = "Manage users";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="~">
}
<div class="main-from">
    <span class="k tt-main"></span>
</div>

@section Script{
    <script src="~/js/aduser.js"></script>
}
