@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/home.css">
}
<div class="container-fluid">
    <div class="k main-form">
        <div class="k bg-slider"></div>
        <div class="k f-dt-note" id="tab-first-prd">
            <span class=" t bf-t-note"></span>
            <span class=" t t-f-favr">MÓN ĂN NỔI BẬT</span>
            <span class=" t bf-t-note"></span>
        </div>
        <div class="k bd-main-it">
            <div class="k main-it-lv2">

            </div>
            @*<div class="k db-it-prd">
                <div class="k main-it">
                    <div class="k bd-img">
                        <div class="k img-product"></div>
                    </div>
                    <span class="k t t-name-it">Bánh bông lan </span>
                    <span class="k t t-price-it">30.000₫ </span>
                    <span class="k t t-price-pro-it">35.000₫ </span>
                    <div class="f-dt-pdt">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-info"></i>
                    </div>
                </div>
            </div>*@
            <div class="k owl-dots">
                <div class="owl-dot">
                    <span></span>
                </div>
                <div class="owl-dot">
                    <span></span>
                </div>
            </div>
        </div>

        <div class="k f-dt-note"id="second-tab-prd">
            <span class=" t bf-t-note"></span>
            <span class=" t t-f-favr">MÓN ĂN ĐƯỢC YÊU THÍCH</span>
            <span class=" t bf-t-note"></span>
        </div>
        <div class="k bd-main-it" id="bd-pr-favorite">
            
            @*<div class="k db-it-prd it-fvr">

                <div class="k main-it">
                    <div class="k bd-img" style=" background-image:url(/images/admin/tea.jpg)">
                        <div class="k img-product"></div>
                    </div>
                    <span class="k t t-name-it">Bánh bông lan </span>
                    <span class="k t t-price-it">30.000₫ </span>
                    <span class="k t t-price-pro-it">35.000₫ </span>

                    <span class="k t-tt-view">120</span>
                    <i class="fa fa-heart-o"></i>
                    <span class="k t-tt-view">200</span>
                    <i class="fa fa-eye"></i>


                    <div class="f-dt-pdt">
                        <i class="fa fa-shopping-cart"></i>
                        <i class="fa fa-info"></i>
                    </div>
                </div>
            </div>*@
 
        </div>

        <div class="k f-new-pdt">
            <div class="k f-dt-note" id="third-tab-prd">
                <span class=" t bf-t-note t-new-pdt-line"></span>
                <span class=" t t-f-favr t-new-pdt">MÓN ĂN MỚI</span>
                <span class=" t bf-t-note t-new-pdt-line"></span>
            </div>
            <div class="k bd-main-it" id="f-despr">
                @*<div class="k bd-id-new">
                    <div class="k body-it-new">
                        <div class="k img-it-new"></div>
                        <div class="k f-note-inf">
                            <span class="k t t-name-it-new">Bánh bông lan </span>
                            <span class="k t t-price-it">30.000₫ </span>
                            <span class="k t t-inf-it">Đây là 1 sản phẩm đặc biệt ra mắt nhằm hưởng ứng hội nghị thưởng đỉnh 2 nước Triều Tiên - Mỹ </span>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="k f-dt-note" style=" display:none">
            <span class=" t bf-t-note"></span>
            <span class=" t t-f-favr">BÀI VIẾT LIÊN QUAN</span>
            <span class=" t bf-t-note"></span>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/userhome.js"></script>
}