
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/product.css">
}
<div class=" k main-form">
    <span class="k link-product">Danh mục sản phẩm > Chi tiết sản phầm</span>
    <div class="k body-product">
        <div class="k area-product">
            <div class="k img-pdt"></div>
        </div>
        <div class="k area-product">
            <span class="k tt-pdt">Bánh kem phomas</span>
        </div>
    </div>
</div>

