
@{
    ViewBag.Title = "";
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/product.css">
}
<div class=" k main-form">
    <span class="k link-product">Danh mục sản phẩm > Chi tiết sản phầm</span>
    <div class="k body-product">
        <div class="k area-product">
            <div class="k bd-img-main">
                <div class="k img-pdt" id="img-main-prd"></div>
            </div>
            <div class="k form-more-img">
                @*<div class="k bd-img-more">
                    <div class="k img-more" style=" background-image:url()"></div>
                </div>*@
            </div>
        </div>
        <div class="k area-product">
            <div class="k bd-name-tt">
                <span class="k tt-pdt" id="name-prd">Bánh kem phomas</span>
                <div class="k bd-star" id="bd-evaluate">
                    @*<i class="fa fa-star ic-star" aria-hidden="true"></i>
                    <i class="fa fa-star ic-star" aria-hidden="true"></i>
                    <i class="fa fa-star ic-star" aria-hidden="true"></i>
                    <i class="fa fa-star ic-star" aria-hidden="true"></i>
                    <i class="fa fa-star ic-star" aria-hidden="true"></i>*@
                </div>
                
                <span class="k t-view-evaluate">(Xem 0 đánh giá)</span>
            </div>
            <div class="k bd-price">
                <span class="k t-price" id="price-pr"></span>
                <span class="k t-old-price" id="old-price">Giá cũ :</span>
                <span class="k t-price-dc" id="t-price-dc"></span>
            </div>
            <div class="k bd-amount">
                <button class="bnt-amount" type="button" onclick="changeNumber(false)">-</button>
                <span class="bnt-amount" id="numb">1</span>
                <button class="bnt-amount" type="button" onclick="changeNumber(true)">+</button>
                <button id="#bnt-bought" class="add-to-cart" type="button"onclick="addPrToCarrt()">
                    <span class="text" >CHỌN MUA</span>
                </button>
            </div>
            <div class="k bd-deliver">
                <span class="k t-note-del">THỜI GIAN GIAO HÀNG DỰ KIẾN</span>
                <span class="k t-add-del">
                    Giao hàng tới:
                </span>
                <span class="k t-adddress">Thôn cành lá, xã Cành Cây, huyện Trên Mây tỉnh Dưới Đất</span>
                <div class="k f-time-del ">
                    <i class="fa fa-truck ic-deli" aria-hidden="true"> </i>
                    <span class="k t-time">Dự kiến trong ngày 23 tháng5 năm 2019</span>
                </div>
            </div>
        </div>
    </div>
    <div class="k form-some-pr">
        <span class="k t-view-s-pr">SẢN PHẨM TƯƠNG TỰ</span>
        <div class="k bd-list-pr">
            @*<div class="k bd-id-pr">
                <div class="k f-it-more">
                    <div class="k img-pr-more"></div>
                    <span class="k t-name-pr-more">Trà chanh chém gió</span>
                    <span class="k t-price-more">50.000 đ</span>
                    <span class="k t-prds-more">40.000 đ</span>
                    <span class="k t-prds-dc">-15%</span>
                </div>
            </div>
            <div class="k bd-id-pr">
                <div class="k f-it-more">
                    <div class="k img-pr-more"></div>
                    <span class="k t-name-pr-more">Trà chanh chém gió</span>
                    <span class="k t-price-more">50.000 đ</span>
                    <span class="k t-prds-more">40.000 đ</span>
                    <span class="k t-prds-dc">-15%</span>
                </div>
            </div>
            <div class="k bd-id-pr">
                <div class="k f-it-more">
                    <div class="k img-pr-more"></div>
                    <span class="k t-name-pr-more">Trà chanh chém gió</span>
                    <span class="k t-price-more">50.000 đ</span>
                    <span class="k t-prds-more">40.000 đ</span>
                    <span class="k t-prds-dc">-15%</span>
                </div>
            </div>
            <div class="k bd-id-pr">
                <div class="k f-it-more">
                    <div class="k img-pr-more"></div>
                    <span class="k t-name-pr-more">Trà chanh chém gió</span>
                    <span class="k t-price-more">50.000 đ</span>
                    <span class="k t-prds-more">40.000 đ</span>
                    <span class="k t-prds-dc">-15%</span>
                </div>
            </div>*@
            <i class="fa fa-angle-right bnt-next-pr" aria-hidden="true"></i>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/userproduct.js"></script>
    <script>
        try {
            var prid = @ViewBag.product;
            getProductById(prid, bindingPrById)
            getEvaluate(prid);
        }
        catch (er) {
            //
        }
    </script>
}


