<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/js/adminhelper.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
   
</body>
</html>