<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>