<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <div class="container">
        @RenderBody()
        <footer>
            <p>&copy; 2019 - WebApplication</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
