<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/js/adminhelper.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.3.3.1.js"></script>
    <script src="~/lib/jquery/dist/jquery-1.11.1.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
</body>
</html>