<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/font/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/ad_layout.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
   
        @RenderSection("Css", required: false)
</head>
<body>
    <div class="container">
        <div class="k f-head">
            <div class="k hd-l-form">
                <div class="k img-avt"></div>
                <label class="k bnt-swt switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>

            </div>
            <div class="k hd-r-form">
                <div class="h-bd-notifi-ad">
                    <a href="/admin/useradmin">
                        <div class="k h-f-sml-notf">
                            <i class="fa fa-user-plus ic-h-new-user" aria-hidden="true"></i>
                            <span class="h-t-tt-ntf">0</span>
                        </div>
                    </a>
                    <a href="/admin">
                        <div class="k h-f-sml-notf">
                            <i class="fa fa-envelope-o ic-h-new-user" aria-hidden="true"></i>
                            <span class="h-t-tt-ntf">0</span>
                        </div>
                    </a>
                    <a href="/admin/neworder">
                        <div class="k h-f-sml-notf">
                            <i class="fa fa-cart-plus ic-h-new-user" aria-hidden="true"></i>
                            <span class="h-t-tt-ntf">0</span>
                        </div>
                    </a>
                    <div class="h-f-user">
                        <div class="k h-img-avt-us"></div>
                        <span class="k h-t-name-us"></span>
                        <ul class="h-f-us-lout">
                            <li onclick="signout()">Logout</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        @*audio*@
        <audio src="/audio/audio_notify.mp3" id="myAudio"></audio>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.3.3.1.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery/moment.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
    <script src="~/lib/js/bootbox.min.js"></script>
    <script src="~/js/adminhelper.js"></script>
    <script src="~/lib/node_modules1/socket.io-client/dist/socket.io.js"></script>
    <script src="~/js/adsocket.io.js"></script>
    @RenderSection("Script", required: false)

</body>
</html>