
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/user_checkout.css">
}
<div class="k main-form">
    <div class="tt-cart ">ĐƠN HÀNG <span class="total-prd"></span></div>
    <div class="k bd-f-tt-prd">
        <div class="k body-prd">
            <div class="k f-body-prd" style="text-align:center;" id="f-nothing-prd">
               <div class="img-cart-noth"></div>
                <span class="t-noth-prd">Không có sản phẩm nào trong giỏ hàng của bạn</span>
                <a href="/"><span class="bnt-continue">Tiếp tục mua sắm</span></a>
            </div>
        </div>



        <div class="k bd-pay-money">
            <div class="k f-pay-money">
                <span class="k t-provisional">Tạm tính: </span>
                <span class="k t-tt-money"></span>
                <div class="k bd-mn-pay">
                    <span class="k t-pay-mn">Thành tiền </span>
                    <span class="k t-total-money"></span>
                    <span class="k t-vat">(Đã bao gồm VAT) </span>
                </div>
                <a href="/order/order"><span class="k bnt-bought">Tiến hành đặt hàng</span></a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/usercheckout.js"></script>

}

