
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/user_order.css">
}
<div class="k main-form-order">
    <div class="k form-head">
        <div class="k bd-it-f-head">
            <div class="k img-logo"></div>
        </div>
        <div class="k bd-it-f-head">
            <div class="k ic-truck"></div>
            <span class="k t-deliver">Giao hàng toàn quốc</span>
        </div>
        <div class="k bd-it-f-head">
            <div class="k ic-truck ic-lie"></div>
            <span class="k t-deliver">Đổi trả hàng 15 ngày miễn phí</span>
        </div>
        <div class="k bd-it-f-head">
            <div class="k ic-truck ic-lie"></div>
            <span class="k t-deliver ic-quality">Đảm bảo hàng chính hãng</span>
        </div>
    </div>
    <span class="k t-login-to-b">Hãy <a href="#">Đăng nhập</a> để mua hàng nhanh hơn</span>
    <div class=" k f-inf-order">
        <div class="k db-f-it">
            <span class="tt-order">THÔNG TIN MUA HÀNG</span>
            <input class="text-box" data-val="true" data-val-required="Vui lòng nhập họ tên" placeholder="Họ và tên" type="text" value="">

            <div class="k bd-gender">
                <span class="k t-gender">Giới tính:</span>
                <a class="k div-radio-button" onclick="setRadioChecked(this)" itemprop="setgender">
                    <input class="k" data-val="true" id="male" type="radio" value="Male">
                    <i class="fa fa-circle-o k"></i>
                    <label class="name-gender k">Nam</label>
                </a>
                <a class="k div-radio-button" data-val="Female" onclick="setRadioChecked(this)" itemprop="setgender">
                    <input class="k" id="female" name="ShoppingInfo.Gender" type="radio" value="Female">
                    <i class="fa fa-circle-o k" aria-hidden="true"></i>
                    <label class="name-gender k">Nữ</label>
                </a>
            </div>

            <input class="text-box" data-val="true" data-val-required="Số điện thoại chính xác" id="ShoppingInfo_FullName" placeholder="Số điện thoại" type="text" value="">
            <input class="text-box" data-val="true" data-val-required="Email" id="ShoppingInfo_FullName" placeholder="Email" type="text" value="">
            <select class="k sl-add">
                <option value="1">Hà Nội</option>
                <option value="2">Hồ Chí Minh</option>
                <option value="3">Đak Lak</option>
                <option value="4">Gia Lai</option>
            </select>

            <select class="k sl-add">
                <option value="1">Đông Anh</option>
                <option value="2">Đông Em</option>
                <option value="3">Đông Cô</option>
            </select>
            <input class="text-box" data-val="true" data-val-required="address" id="ShoppingInfo_FullName" placeholder="Giao hàng tới địa chỉ,xã phường" type="text" value="">
            <div class="k bd-gender">
                <a class="k div-radio-button" onclick="setRadioChecked(this)" itemprop="setdeliver" style="width:100%;">
                    <input class="k" data-val="true" id="male" type="radio" value="Male">
                    <i class="fa fa-circle-o k"></i>
                    <label class="name-deliver k">Giao hàng tới địa chỉ trên</label>
                </a>
                <a class="k div-radio-button" data-val="Female" onclick="setRadioChecked(this)" itemprop="setdeliver" style="width:100%;">
                    <input class="k" id="female" name="ShoppingInfo.Gender" type="radio" value="Female">
                    <i class="fa fa-circle-o k" aria-hidden="true"></i>
                    <label class="name-deliver k">Giao hàng tới địa chỉ khác</label>
                </a>
            </div>

        </div>


        <div class="k db-f-it">
            <span class="tt-order">THỜI GIAN NHẬN HÀNG</span>
            <div class="k bd-gender">
                <a class="k div-radio-button" onclick="setRadioChecked(this)" itemprop="settimedeliver" style="width:100%;">
                    <input class="k" data-val="true" id="male" type="radio" value="Male">
                    <i class="fa fa-circle-o k"></i>
                    <label class="name-time-deliver k">Trong giờ hành chính</label>
                </a>
                <a class="k div-radio-button" data-val="Female" onclick="setRadioChecked(this)" itemprop="settimedeliver" style="width:100%;margin-top:7px;">
                    <input class="k" id="female" name="ShoppingInfo.Gender" type="radio" value="Female">
                    <i class="fa fa-circle-o k" aria-hidden="true"></i>
                    <label class="name-time-deliver k">Ngoài giờ hành chính</label>
                </a>
            </div>
            <span class="tt-type-pay">HÌNH THỨC THANH TOÁN</span>
            <div class="k bd-gender">
                <a class="k div-radio-button" onclick="setRadioChecked(this)" itemprop="settypepay" style="width:100%;">
                    <input class="k" data-val="true" id="male" type="radio" value="Male">
                    <i class="fa fa-circle-o k"></i>
                    <label class="name-time-deliver k">Thanh toán khi nhận hàng (COD)</label>
                </a>
                <a class="k div-radio-button" data-val="Female" onclick="setRadioChecked(this)" itemprop="settypepay" style="width:100%;margin-top:7px;">
                    <input class="k" id="female" name="ShoppingInfo.Gender" type="radio" value="Female">
                    <i class="fa fa-circle-o k" aria-hidden="true"></i>
                    <label class="name-time-deliver k">Chuyển khoản ngân hàng hoặc ví điện tử</label>

                </a>
            </div>
            <textarea class="tex-note" cols="20" placeholder="Viết ghi chú, yêu cầu hóa đơn GTGT,..." rows="2"></textarea>
        </div>
        <div class="k db-f-it">
            <span class="tt-order">ĐƠN HÀNG (2 sản phẩm)</span>

            <div class="k bd-item-small" >
                @*<div class="k f-prd">
                    <div class="k img-prd"></div>
                    <span class="k name-prd">Bánh bông lan loại nhỏ có chứa chocolate</span>
                    <span class="k price-product">120.000 đ</span>
                    <div class="k f-amount">
                        <span class="k t-note-amount">Số lượng</span>
                        <a class="k t-amount" title="Số lượng sản phẩm muốn mua">2</a>
                    </div>
                </div>*@
            </div>
            <div class="k f-prd">
                <div class="k f-amount">
                    <span class="k t-note-bf-pay">Tạm tính</span>
                    <a class="k t-money">120.000 đ</a>
                </div>
                <div class="k f-amount">
                    <span class="k t-note-bf-pay">Giảm giá</span>
                    <a class="k t-money">0 đ</a>
                </div>
                <div class="k f-amount">
                    <input class="text-box discount-code k" data-val="true" data-val-required="address" placeholder="Nhập mã giảm giá" type="text" value="">
                    <span class="k bnt-dsc-code">Sử dụng</span>
                </div>
            </div>
            <div class="k f-amount">
                <span class="k t-note-bf-pay" style="font-weight:600">Thành tiền</span>
                <a class="k t-money" style="color:red;font-size:18px;font-weight:600;"></a>
                <span class="k bnt-bought-pr">ĐẶT HÀNG</span>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/userorder.js"></script>   
}
