@import url("adminconfig.css");

:root {
    --cl-bg: white;
    --cl-bg-l: #404e67;
    --lc-bg-r: #f3f3f3;
    --cl-tt: white;
    --cl-dt: #dcdcdc;
    --cl-dt-w: white;
    --fs-tt: 18px;
    --fs-dt: 16px;
    --fs-sm: 14px;
    --bd-rd: 5px;
    --fs-nb-big: 20px;
    --size-ic_noti: 30px;
}

@media only screen and (min-width:0) {
    .container {
        width: 100%;
        padding: 0;
    }

    .hd-l-form {
        background-color: var(--cl-bg-l);
    }

    .hd-r-form {
        background-color: var(--lc-bg-r);
    }

    .f-head {
        z-index: 2;
        width: 100%;
        height: 70px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }

    .hd-l-form {
        width: 20%;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 70px;
    }

    .hd-r-form {
        width: 80%;
        min-height: 70px;
    }

    .img-avt {
        background-image: url(/images/admin/logo.png);
        background-size: contain;
    }

    .switch {
        position: relative;
        display: inline-block;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 1px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .ngvt {
        width: 100%;
        color: var(--cl-dt);
        opacity: 0.6;
    }

    .h-bd-notifi-ad {
        position: relative;
        float: right;
        text-align: center;
    }

    .h-f-sml-notf {
        cursor: pointer;
    }

    .ic-h-new-user {
        position: relative;
        float: left;
        color: rgba(51,51,51,0.7);
        font-size: var(--size-ic_noti);
    }

    .h-t-tt-ntf {
        position: absolute;
        top: 9px;
        right: -15px;
        margin: auto;
        color: red;
        background-color: var(--c-dt-wt);
        border-radius: 50%;
        border: 1px solid rgba(51,51,51,0.1);
        font-weight: 600;
    }

    .h-f-user {
        position: relative;
        float: right;
        cursor: pointer;
    }

    .h-img-avt-us {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        border: 1px solid rgba(51,51,51,0.1);
        background-image: url("/images/user/ic_avt_defaul.png");
    }

    .h-t-name-us {
        color: var(--c-dt-bl);
        font-weight: 300;
    }

    .h-f-us-lout {
        position: absolute;
        bottom: -30px;
        right: 10px;
        text-align: center;
        margin: auto;
        border: 1px solid rgba(51,51,51,0.1);
        background-color: rgba(255,255,255,0.8);
        list-style-type: none;
        border-radius: 4px;
        display: none;
        padding: 0 10px;
    }
    .h-f-user:hover .h-f-us-lout {
        display:block;
    }

    .h-f-us-lout li {
        color: var(--c-dt-bl);
    }
}

@media only screen and (min-width:1200px) {
    .img-avt {
        width: 80%;
        height: 70px;
    }

    .bnt-swt {
        width: 18%;
        height: 20px;
        margin-top: 27px;
    }

    .h-bd-notifi-ad {
        width: 50%;
    }

    .h-f-sml-notf {
        width: 5%;
        margin-right: 40px;
    }

    .ic-h-new-user {
        margin-top: 20px;
    }

    .h-t-tt-ntf {
        padding: 2px 10px;
        font-size: 16px;
        text-align: center;
        padding-top: 5px;
    }

    .h-f-user {
        padding-top: 20px;
        padding-right: 10px;
    }

    .h-img-avt-us {
        width: 40px;
        height: 40px;
    }

    .h-t-name-us {
        margin-top: 10px;
        font-size: 16px;
    }

    .h-f-us-lout li {
        font-size:16px;
        padding:5px 0;
    }
}
