@import url("adminconfig.css");

:root {
    --cl-bg-l: #404e67;
    --cl-bg-r: #f3f3f3;
    --h-image-pdt: 135px;
}

@media only screen and (min-width:0) {
    .main-form {
        width: 100%;
    }

    .bd-catagory {
        width: 100%;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }

    .t-nt-tt-pr {
        color: var(--c-tt-wt);
    }

    .ic-add-category {
        background-size: contain;
        background-image: url(/images/admin/ic_plus.png);
    }
    .ic-add-pdt {
        background-size: contain;
        background-image: url(/images/admin/ic_add.png);
    }

    .t-name-pr {
        color: var(--c-dt-wt);
    }

    .bd-prd {
        width: 100%;
        cursor: pointer;
    }
    .bd-prd:hover {
        background-color: #fbedbb;
    }
    
    .ic-pdt {
        background-size: contain;
        background-image: url(/images/admin/ic_l_product.png);
    }

    .ic-next {
        background-size: contain;
        background-image: url(/images/admin/ic_next.png);
    }

    .item-pr-form {
        width: 100%;
        background-color: #fbedbb;
        margin-bottom: 5px;
        border-radius: 4px;
    }

    .img-pdt {
        background-image: url(/images/admin/tea.jpg);
        background-size: contain;
    }

    .name-product {
        text-align: left;
        font-weight: 600;
        color: var(--c-tt-bl);
        width: 100%;
    }

    .total-pdt {
        text-align: left;
        color: var(--c-tt-bl);
    }

    .t-warning {
        text-align: left;
        color: red;
    }

    .ic_edit_pdt {
        background-size: contain;
        background-image: url(/images/admin/ic_edit.png);
        float: right;
    }

    .ic_delete_pdt {
        background-size: contain;
        background-image: url(/images/admin/ic_delete.png);
        float: right;
    }

    .t-add-pdt {
        color: var(--c-tt-bl);
        text-align: left;
        cursor:pointer;
        font-weight:500;
    }
    .f-add-ctl{
        width:30%;
        text-align:center;
    }
    .ctl-tt {
        color:var(--c-dt-bl);
        font-weight:500;
    }
    .input-ctg {
        color: var(--c-dt-bl);
        border:1px solid rgba(51,51,51,0.12);

    }
    .input-pdt {
        color: var(--c-dt-bl);
        border: 1px solid rgba(51,51,51,0.12);
    }
    .input-pdt-pc {
        color: var(--c-dt-bl);
        border: 1px solid rgba(51,51,51,0.12);
    }
    .bnt_add_ctg {
        color: var(--c-dt-bl);
        text-align: center;
        width: 100%;
        padding: 5px;
        background-color: #fbedbb;
        font-weight:600;
        border-radius:4px;
        cursor:pointer;
    }
    .pdt-tt {
        color: var(--c-dt-bl);
        font-weight: 500;
        text-align:left;
    }
    .pdt-tt-pc {
        color: var(--c-dt-bl);
        font-weight: 500;
        text-align: left;
    }
    .modal-body {
        height: auto;
        position: relative;
        float: left;
        width: 100%;
    }
    .bnt-sl-img {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 12px;
        color: #ef7147;
        font-weight: 600;
        cursor: pointer;
        width: 50%;
        height: auto;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 4px;
        padding: 5px 5px;
        
    }
    .fa-times {
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        border: 1px solid rgba(51,51,51,0.2);
        padding: 0px 2px;
        background-color: rgba(51,51,51,0.12);
        cursor: pointer;
    }
        .fa-times:hover {
            color:red;
        }
    .dlt-cata{
       color:white;
    }
}

@media only screen and (min-width:1200px) {
    .l-form {
        width: 20%;
        border-right: 1px solid rgba(51,51,15,0.2);
        background-color: var(--cl-bg-l);
        padding-bottom: 50px;
    }

    .r-form {
        width: 80%;
        padding: 20px;
        background-color: var(--cl-bg-r);
        padding-bottom: 50px;
    }

    .bd-catagory {
        width: 100%;
        padding: 10px 20px;
    }

    .t-nt-tt-pr {
        font-size: var(--font-title);
        padding: 5px 0;
        width: 80%;
    }

    .ic-add-category {
        width: 20%;
        height: 20px;
        margin-top: 15px;
        cursor:pointer;
    }
    .ic-add-pdt {
        width: 20px;
        height: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 10px;
        cursor:pointer;
    }

    .bd-prd {
        padding: 5px 0;
    }

    .t-name-pr {
        width: 100%;
        font-size: var(--font-detail);
        padding: 5px 0;
        width: 50%;
    }

    .ic-pdt {
        width: 20%;
        height: 18px;
        margin-top: 14px;
    }

    .ic-next {
        width: 20%;
        height: 16px;
        margin-top: 15px;
    }

    .img-pdt {
        width: 30%;
        height: var(--h-image-pdt);
    }

    .f-pdt-name {
        width: 35%;
        padding: 10px 20px;
    }

    .name-product {
        font-size: var(--font-title);
    }

    .total-pdt {
        font-size: var(--font-detail);
        width: 100%;
    }

    .t-warning {
        font-size: var(--font-detail);
        width: 100%;
    }

    .ic_edit_pdt {
        width: 15%;
        height: 20px;
        cursor: pointer;
    }

    .ic_delete_pdt {
        width: 15%;
        height: 20px;
        cursor: pointer;
    }

    .t-add-pdt {
        font-size: var(--font-title);
        width: auto;
    }
    .ctl-tt {
        font-size:var(--font-detail);
        width:40%;
    }
    .input-ctg {
        font-size: var(--font-detail);
        width: 60%;
        margin-top: 5px;
        padding:5px;
    }
    .bnt_add_ctg {
        font-size:var(--font-detail);
        margin-top:20px;

    }
    .pdt-tt {
        font-size: var(--font-detail);
        width:30%;
    }
    .input-pdt {
        width: 70%;
        font-size: var(--font-detail);
        margin-top: 5px;
        padding: 5px;
    }
    .pdt-tt-pc {
        font-size: var(--font-detail);
        width: 35%;
    }
    .input-pdt-pc {
        font-size: var(--font-detail);
        width: 65%;
        padding: 4px 5px;
        margin-top: 5px;
    }
    .bd-add-pdt {
        width: 100%;
        margin-bottom:10px;
    }
    .bd-add-pdt-pc {
        width: 50%;
        padding-right: 0;
        margin-bottom: 10px;
    }
    .f-select-img{
        width:100%;
    }
    .fa-file-image-o {
        width: 30%;
        font-size: 60px;
        text-align: center;
        padding: 45px 40px;
        border-radius:4px;
        border: 1px solid rgba(51,51,51,0.5);
        
    }
    .f-img-view{
        width:70%;
        height:auto;
    }
    .bd-img-view-it {
        width: 75px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .bd-img-view-it-add {
        width: 75px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .img-view-it {
        width: 65px;
        border: 1px solid rgba(51,51,51,0.2);
        background-size: contain;
        height: 70px;
        cursor:pointer;
        background-image:url(/images/home/test.png);
    }
    .bd-img-it-lv2{
        width:auto;
    }
    .bnt-sl-img {
        background-color: rgba(51,51,51,0.3);
    }
    .dlt-cata {
        font-size: 20px;
        position: relative;
        float: left;
        margin-top: 12px;
        cursor:pointer;
    }
}
