:root{
    --font-title:18px;
    --font-detail:16px;
    --c-tt-bl:#333333;
    --c-tt-wt:white;
    --c-dt-bl:#333333;
    --c-dt-wt:white;

}
.k {
    position: relative;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.t {
    font-family: inherit;
    line-height: 1.1;
    margin-top: 10px;
}

.lds-ring {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}