@import url("adminconfig.css");

:root {
    --cl-bg: white;
    --cl-bg-l: #404e67;
    --lc-bg-r: #f3f3f3;
    --cl-tt: white;
    --cl-dt: #dcdcdc;
    --cl-dt-w: white;
    --fs-tt: 18px;
    --fs-dt: 16px;
    --fs-sm:14px;
    --bd-rd: 5px;
    --fs-nb-big: 20px;
}

@media only screen and (min-width:0) {
    body {
        width: 100%;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }

    .container {
        width: 100%;
        padding:0;
    }

    

    .main-form {
        width: 100%;
        background-color: var(--cl-bg);
    }

    .l-form {
        background-color: var(--cl-bg-l);
    }

    .r-form {
        background-color: var(--lc-bg-r);
    }

    .img-avt {
        background-image: url(/images/admin/logo.png);
        background-size: contain;
    }

    .switch {
        position: relative;
        display: inline-block;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 1px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .ngvt {
        width: 100%;
        color: var(--cl-dt);
        opacity: 0.6;
    }

    .body-form {
        width: 100%;
    }

    .f-it {
        width: 100%;
    }

    .ic_home {
        background-image: url(/images/admin/ic_home.png);
        background-size: contain;
    }

    .text-dt {
        color: var(--cl-dt);
        width: auto;
    }
    .ic-show {
        position: relative;
        float: right;
        background-size: contain;
        background-image: url(/images/admin/ic_down.png);
    }
    .f-l-it {
        width: 100%;
        cursor: pointer;
    }
        .f-l-it:hover .text-dt {
            color: red;
        }
    .ic-down {
        background-image: url(/images/admin/ic_show.png);
        background-size: contain;
        transition: all 0.2s linear;
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .down {
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transition: all 0.2s linear;
    }
    .ic_gear {
        background-image: url(/images/admin/ic_gear.png);
        background-size: contain;
    }
    .bd-it-table{
        
    }
    .h-table {
        width: 100%;
    }
    .f-it-table {
        background: linear-gradient(to right,#fe9365,#feb798);
        width: 100%;
        border-radius: var(--bd-rd);
    }
    .sd-it-table {
        width: 100%;
        border-radius: var(--bd-rd);
        background: linear-gradient(to right,#0ac282,#0df3a3);
    }
    .th-it-table {
        width: 100%;
        border-radius: var(--bd-rd);
        background: linear-gradient(to right,#fe5d70,#fe909d);
    }
    .four-it-table {
        background: linear-gradient(to right,#01a9ac,#01dbdf);
        width: 100%;
        border-radius: var(--bd-rd);
    }
    .t-number {
        color: var(--cl-dt-w);
        text-align: left;
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
    }
    .bd-note{
        width:100%;
        border-bottom:1px solid rgba(255,255,255,1);
    }
    .t-name-it {
        color: var(--cl-dt-w);
        text-align: left;
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        width: 80%;
    }
    .update-card {
        color: #fff;
    }
    .ic-product{
        background-size:contain;
        background-image:url(/images/admin/ic_product.png);
    }
    .t-status {
        color: var(--cl-dt-w);
        text-align: left;
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
    }
    .ic_clock{
        background-size:contain;
        background-image:url(/images/admin/ic_clock.png);
    }
}

@media only screen and (min-width:1200px) {
    .f-head {
        z-index: 2;
        width: 100%;
        height: 70px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .l-form {
        width: 20%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .r-form {
        width: 80%;
    }
    .img-avt {
        width: 80%;
        height: 70px;
    }
    .bnt-swt {
        width: 18%;
        height: 20px;
        margin-top: 27px;
    }
    .ngvt {
        font-size: var(--fs-dt);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .ic_home {
        width: 17px;
        height: 17px;
    }
    .ic_gear {
        width: 17px;
        height: 17px;
    }
    .text-dt {
        font-size: var(--fs-dt);
        padding: 0 10px;
    }
    .ic-show {
        width: 15px;
        height: 15px;
        margin-right: 20px;
        margin-top: 7px;
        padding-right: 10px;
        cursor: pointer;
    }
    .f-it {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .f-l-it {
        padding: 5px 20px;
    }
    .ic-down {
        margin-top: 5px;
        width: 13px;
        height: 13px;
    }
    .bd-it-table{
        width:25%;
        padding:10px;
    }
    .f-it-table{
        height: 135px;
    }
    .t-number {
        font-size: var(--fs-nb-big);
        padding: 20px 20px 5px 20px;
        width:100%;
    }
    .t-name-it {
        font-size: var(--fs-nb-big);
        padding-top:5px;
    }
    .bd-note {
        padding: 0 20px 15px 20px;
    }
    .ic-product {
        width:20%;
        height:30px;
    }
    .t-status{
        font-size:var(--fs-sm);
        padding-top:10px;
        padding-left:10px;
        width:auto;
    }
    .ic_clock {
       width:15px;
       height:15px;
       margin-top:10px;
       margin-left:20px;
    }
}
