@import url("config.css");

:root {
    --f-pdt-tt: 26px;
}

@media only screen and (min-width:0) {
    .k {
        position: relative;
        float: left;
        font-family: Roboto,Helvetica,Arial,sans-serif;
    }

    .main-form {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        background-color: white;
    }

    .link-product {
        width: 100%;
        color: rgba(51,51,51,0.7);
    }

    .img-pdt {
        /*background-image: url(/images/home/testpdt.jpg);*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 368px;
        border: 1px solid rgba(51,51,51,0.02);
        border-radius: 4px;
    }

    .tt-pdt {
        color: #1c011f;
        font-family: Roboto,Helvetica,Arial,sans-serif;
        font-weight: 300;
        color: #333;
        line-height: 30px;
    }

    .ic-star {
        width: auto;
        position: relative;
        float: left;
        margin-right: 5px;
    }

    .t-view-evaluate {
        color: #1c011f;
        font-family: Roboto,Helvetica,Arial,sans-serif;
        font-weight: 300;
        color: #333;
        line-height: 30px;
    }

    .bd-name-tt {
        width: 100%;
        border-bottom: 1px solid rgba(51,51,51,0.2);
    }

    .bd-price {
        width: 100%;
        border-bottom: 1px solid rgba(51,51,51,0.2);
    }

    .bd-amount {
        width: 100%;
        border-bottom: 1px solid rgba(51,51,51,0.2);
    }

    .bd-deliver {
        width: 100%;
        border-bottom: 1px solid rgba(51,51,51,0.2);
    }

    .bnt-amount {
        line-height: 15px;
        font-size: 14px;
        font-weight: 300;
        height: 28px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        border: 1px solid rgba(51,51,51,0.1);
        display: inline-block;
        padding: 4px 10px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;
        background-image: none;
        border-radius: 4px;
        font-family: initial;
    }

    .t-price {
        color: #ff3425;
        font-weight: 500;
        width: 100%;
    }

    .t-old-price {
        color: #9b9b9b;
        width: auto;
        text-decoration: line-through;
    }

    .t-price-dc {
        color: #ff3425;
        text-decoration: line-through;
    }

    .add-to-cart {
        width: 186px;
        height: 40px;
        border: none;
        color: #fff;
        white-space: nowrap;
        cursor: pointer;
        font-size: 13px;
        padding: 0 0 0 40px;
        line-height: 40px;
        border-radius: 5px;
        background: url(/images/product/ic_add_cart.png) 42px center no-repeat #ff3945;
        font-weight: 400;
        letter-spacing: .5px;
        background-size: 26px;
        display: inline-block;
        text-align: center;
        margin-left: 20px;
    }

    .t-note-del {
        color: var(--c-dt-bl);
        font-weight: 500;
    }

    .t-add-del {
        color: var(--c-dt-bl);
    }

    .t-adddress {
        color: #007ff0;
    }

    .ic-deli {
        color: rgba(51,51,51,0.7);
    }

    .t-time {
        color: rgba(51,51,51,0.7);
    }

    .form-some-pr {
        border-top: 1px solid rgba(51,51,51,0.2);
        width: 100%;
    }

    .t-view-s-pr {
        width: 100%;
        color: var(--c-tt-bl);
        font-weight: 400;
    }

    .bd-list-pr {
        width: 100%;
    }

    .bd-id-pr {
    }

    .f-it-more {
        border: 1px solid rgba(51,51,51,0.2);
        border-radius: 3px;
        cursor: pointer;
    }
        .f-it-more:hover {
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
            -webkit-transition: all 0.7s ease;
            transition: all 0.5s ease;
        }

    .img-pr-more {
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(/images/home/test.png);
        border-radius: 4px;
    }

    .t-name-pr-more {
        color: var(--c-dt-bl);
        font-weight: 300;
        font-family: initial;
        line-height: 1.54;
        width: 100%;
    }

    .t-price-more {
        color: var(--c-dt-bl);
        font-weight: 500;
        width: 100%;
    }

    .t-prds-more {
        color: var(--c-dt-bl);
        font-weight: 300;
        width: auto;
        margin-right: 10px;
        text-decoration: line-through;
    }

    .t-prds-dc {
        color: red;
        font-weight: 300;
        width: auto;
        text-decoration: line-through;
    }

    .bnt-next-pr {
        position: absolute;
        right: -20px;
        top: 0;
        bottom: 0;
        height: 30px;
        margin: auto;
        display: inline-block;
        color: rgba(51,51,51,0.7);
        border-radius: 50%;
        border: 1px solid rgba(51,51,51,0.7);
        padding: 3px 10px;
        cursor: pointer;
    }

        .bnt-next-pr:hover {
            background-color: rgba(51,51,51,0.2);
        }
}

@media only screen and (min-width:1200px) {

    .link-product {
        font-size: var(--font-detail);
        margin-top: 10px;
    }

    .body-product {
        width: 100%;
    }

    .area-product {
        width: 33.3333334%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 20px;
    }

    .tt-pdt {
        font-size: var(--f-pdt-tt);
        width: 100%;
    }

    .ic-star {
        font-size: 17px;
    }

    .t-view-evaluate {
        font-size: var(--font-detail);
    }

    .bd-name-tt {
        padding-bottom: 20px;
    }

    .bd-price {
        padding: 20px;
    }

    .t-price {
        font-size: 20px;
    }

    .t-old-price {
        font-size: 13px;
    }

    .t-price-dc {
        font-size: 13px;
        margin-left: 5px;
    }

    .bd-amount {
        padding: 20px;
    }

    .bd-deliver {
        padding: 20px;
    }

    .t-note-del {
        font-size: 14px;
        width: 100%;
    }

    .t-add-del {
        font-size: 14px;
        width: auto;
    }

    .t-adddress {
        font-size: 14px;
    }

    .ic-deli {
        font-size: 20px;
    }

    .t-time {
        font-size: 14px;
        margin-top: 5px;
    }

    .form-some-pr {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .t-view-s-pr {
        font-size: var(--font-detail);
        padding-bottom: 10px;
    }

    .bd-id-pr {
        width: 25%;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
    }

    .f-it-more {
        width: 100%;
    }

    .img-pr-more {
        height: 170px;
    }

    .t-name-pr-more {
        font-size: var(--font-detail);
        margin-top: 15px;
        padding-left: 5px;
    }

    .t-price-more {
        padding-left: 5px;
        font-size: var(--font-detail);
    }

    .t-prds-more {
        padding-left: 5px;
        font-size: var(--font-detail);
    }

    .t-prds-dc {
        font-size: var(--font-detail);
    }

    .bnt-next-pr {
        font-size: 20px;
    }
}
