@import url("config.css");

:root {
}

@media only screen and (min-width:0) {
    .main-form {
        width: 100%;
    }
    .bd-f-note-oder {
        width: 70%;
    }
    .f-note-oder {
        border-radius:4px;
        border:1px solid rgba(51,51,51,0.2);
        width:100%;
    }
    .img-background {
        background-image:url(/images/admin/tea.jpg);
        background-size:contain;
    }
    .text-apolozine {
        width:100%;
        color:var(--c-dt-bl);
        font-weight:600;
        text-align:center;
    }
    .t-code-order{
        color:var(--c-dt-bl);
        width:100%;
        text-align:left;
        font-weight:400;
    }
    .code {
        font-weight: 600;
        color: #0F74BD;
        background-color:rgba(51,51,51,0.07);
        padding:5px;
        border-radius:4px;
    }
    .infor-contact{
        width:100%;
    }
    .infor-contact li {
        width: 100%;
        position:relative;
        float:left;
        margin-bottom:3px;
    }
    .time-del {
        color: #0F74BD;
        padding-left: 3px;
        padding-right: 3px;
    }
    .bd-f-more-prd{
        padding:10px;
        width:30%;
    }
    .f-more-prd{
        width:100%;
    }
    .tt-more-prd{
        width:100%;
        color:var(--c-dt-bl);
        font-weight:500;
        border-bottom:3px solid rgba(51,51,51,0.2);
    }
    .bd-f-moer-prd{
        width:100%;
        padding-top:5px;
        padding-bottom:5px;
        border-bottom:1px solid rgba(51,51,51,0.12);
    }
    .img-prd-more{
        width:35%;
        background-repeat:no-repeat;
        background-position:center;
        background-size:contain;
        /*background-image:url(/images/admin/tea.jpg);*/
        border-radius:4px;
    }
    .f-name-pr-more{
        width:65%;
        padding:5px;
    }
    .t-name-pr-more{
        color:var(--c-dt-bl);
        text-align:left;
        padding-bottom:5px;
        width:100%;
    }
    .t-price-pr-more{
        color:orangered;
        font-weight:500;
        text-align:left;
    }
    .bd-item-more{
        width:100%;
    }
}

@media only screen and (min-width:1200px) {
    .main-form{
        padding-left:5%;
        padding-right:5%;
    }
    .bd-f-note-oder {
        padding:10px;
    }
    .img-background{
        width:35%;
        height:200px;
    }
    .f-text-prd{
        width:65%;
        padding:20px;
    }
    .text-apolozine{
        font-size:18px;
    }
    .t-code-order{
        font-size:16px;
        margin-top:20px;
    }
    .code{
        font-size:18px;
    }
    .infor-contact {
        margin-top:20px;
    }
    .tt-more-prd {
        padding-bottom:10px;
        font-size:18px;
    }
    .img-prd-more{
        height:80px;
    }
    .t-name-pr-more {
        font-size:16px;
    }
    .t-price-pr-more{
        font-size:18px;
    }
}
